*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.settings/
.project
.classpath

# AppEngine specific files.

# Caches and things from deploy
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/WEB-INF/lib/
war/WEB-INF/*.discovery
war/WEB-INF/*.api

# App engine generated
war/WEB-INF/appengine-generated/
endpoint-libs/

# OS specific files
/.DS_Store
